/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-family: var(--font-main, sans-serif);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--weight-card-text);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 100px 0;
  border: 2px solid var(--main-color);
  font-family: var(--font-accent, monospace);
  text-transform: uppercase;
  min-block-size: clamp(327px, 5.333vw + 307px, 368px);
}

.section-size {
  width: var(--section-width);
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.article__cards {
  margin-block-end: 50px;
  border: 2px solid var(--main-color);
}

.article__title {
  padding: 4px 10px 6px;
  font-weight: var(--weight-card-header);
  font-size: 18px;
  letter-spacing: 0.02rem;
}

.cards__image-wrapper {
  position: relative;
}

.card__watermark {
  position: absolute;
  top: 22px;
  right: 10px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--font-accent);
  letter-spacing: -1.5px;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

@supports not (-webkit-text-stroke: 1px var(--stroke-color)) {
  .card__watermark {
    text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
      -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
  }
}

.cards__images {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.article__content {
  padding: 24px 25px 25px 25px;
}

.article__text {
  font-size: 18px;
  line-height: 21px;
}

.article__text p:first-child {
  padding-block-end: 27px;
}

.card__button-style {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 6px;
  padding-block-start: 25px;
}

.card__icon-button {
  border: none;
}

.card__like-button-style {
  border: 2px solid var(--main-color);
  padding-block-start: 2px;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
}

.container-botton-position {
  display: flex;
  justify-content: space-around;
}

.button__floppy-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--main-color);
  inline-size: 310px;
  block-size: 84px;
  margin-block-end: 100px;
}

.button__floppy-style svg {
  width: 28px;
  height: 28px;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__save {
  border: 2px solid var(--stroke-color);
  padding: 35px 39px 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 341px;
  block-size: 195px;
}

.dialog__save svg {
  width: 39px;
  height: 39px;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button__dialog {
  inline-size: 100%;
  block-size: 38px;
  font-family: var(--font-accent);
  font-size: 14px;
}
